.books-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 0.5fr));
    gap: 10px;
   
  }
  
 /* Add these styles to your existing CSS file */

.book-card {
    border: 2px solid gray;
    position: relative;
    background-color: #fff;
    padding: 12px; /* Reduce padding to make the cards smaller */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    padding-top: 0;
  
    &:hover {
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    }
  }
  
  .publish-year {
    font-size: 14px; /* Reduce font size for the publish-year */
    font-weight: bold;
    /* margin-bottom: 8px; */
    position: absolute;
    /* top: 10px; */
    right: 10px;
    padding: 6px; /* Adjust padding accordingly */
    background-color: rgb(204, 34, 119);
    color: white;
    border-radius: 4px;
  }
  
  
  
  .book-id {
    color: #888;
    /* margin-bottom: 8px; */
    font-family: 'Calibri';
    font-size: 13px;
  }
  
  .icon-text {
    display: flex;
    align-items: center;
    /* margin-bottom: 16px; */
  
    .icon {
      font-size: 20px;
      margin-right: 10px;
      color: rgb(204, 34, 119);
    }
  
    .title,
    .author {
        font-family: 'Calibri';
        font-size: 15px;
        color: rgb(21, 21, 116);
        margin: 0;
        padding: 5px;
    }
  }
  
  .icons {
    display: flex;
    gap: 8px;
    text-align: center;
  
    .info,
    .edit,
    .delete {
      font-size: 20px;
      color: #333;
      transition: color 0.3s ease;
      text-align: center;
  
      &:hover {
        color: #000;
      }
    }
  }

  /* Add these styles to your existing CSS file */

.icons {
    display: flex;
    justify-content: center; /* Center the icons horizontally */
    align-items: center; /* Center the icons vertically */
    gap: 8px;
    text-align: center;
    margin-top: 10px; /* Adjust the margin to add space between the text and icons */
  
    .info {
      font-size: 20px;
      color: #007bff; /* Change the color for info icon */
      transition: color 0.3s ease;
  
      &:hover {
        color: #0056b3; /* Change the hover color for info icon */
      }
    }
  
    .edit {
      font-size: 20px;
      color: #ffc107; /* Change the color for edit icon */
      transition: color 0.3s ease;
  
      &:hover {
        color: #d39e00; /* Change the hover color for edit icon */
      }
    }
  
    .delete {
      font-size: 20px;
      color: #dc3545; /* Change the color for delete icon */
      transition: color 0.3s ease;
  
      &:hover {
        color: #bd2130; /* Change the hover color for delete icon */
      }
    }
  }
  
  